version: '3.7'

services:

  postgres:
    container_name: postgres
    image: postgres:12-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: liquidb2
    command: postgres -c max_connections=300 -c log_min_messages=LOG
    #    volumes:
    #      - ./vol/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
