<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h4>app-outlet-shell</h4>
      <hr>
      <app-outlet-shell></app-outlet-shell>

      <br/>
      <br/>

      <h4>app-ng-template-outlet</h4>
      <hr>
      <app-ng-template-outlet></app-ng-template-outlet>

      <br/>
      <br/>

      <h4>app-directive-shell</h4>
      <hr>
      <app-directive-shell></app-directive-shell>

      <br/>
      <br/>

      <h4>app-component-shell</h4>
      <hr>
      <app-component-shell></app-component-shell>

    </div>
  </div>
</div>
