<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="beneficiaryForm" class="form-horizontal" (ngSubmit)="updateValue()">
      <input type="hidden" formControlName="id"/>

      <div class="form-group">
        <label for="fullName" class="col-xs-2">Full Name</label>
        <div class="col-xs-6">
          <input class="form-control" id="fullName" placeholder="Full Name" formControlName="fullName"/>
          <span [hidden]="!beneficiaryForm.hasError('required', 'value')">Value is required..</span>
          <span [hidden]="!beneficiaryForm.hasError('minlength', 'value')">At least 2 characters in length</span>
        </div>
      </div>

      <div class="form-group">
        <label for="nationality" class="col-xs-2">Nationality</label>
        <div class="col-xs-6">
          <input class="form-control" id="nationality" placeholder="Nationality" formControlName="nationality"/>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit"/>
      <a [routerLink]="['/list']">List Values</a>
    </form>
  </div>
</div>
