<div class="row">
  <div class="col-md-6">
    <h4>Beneficiary Form</h4>
    <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()" novalidate class="mt-lg-5">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>

      <h4>Delivery address</h4>

      <!-- Scenario 1 -->
      <!--      <h5>Default</h5>-->
      <!--      <div formGroupName="address">-->
      <!--        <div class="form-group">-->
      <!--          <label for="city">City</label>-->
      <!--          <input id="city" class="form-control" type="text" formControlName="city"/>-->
      <!--        </div>-->

      <!--        <div class="form-group">-->
      <!--          <label for="country">Country</label>-->
      <!--          <input id="country" class="form-control" type="text" formControlName="country"/>-->
      <!--        </div>-->
      <!--      </div>-->

      <!-- Scenario 2 -->
      <!--      <app-address-form [addressFormGroup]="beneficiaryForm.controls.address"></app-address-form>-->

      <!-- Scenario 3 -->
      <!--      <app-address-form2 (formGroup)="addFormControl('address', $event)"></app-address-form2>-->

      <!-- Scenario 4 -->
      <!--      <app-address-form3 [addressGroup]="beneficiaryForm.controls.address"></app-address-form3>-->
      <app-address-form3 [addressGroup]="beneficiaryForm.get('address')"></app-address-form3>

      <button type="submit" class="btn btn-primary" [disabled]="!beneficiaryForm.valid">Save</button>
    </form>
  </div>

  <div class="col-md-6">
    Dirty: {{beneficiaryForm.dirty}} <br>
    Valid: {{beneficiaryForm.valid}} <br>
    Data: {{ beneficiaryForm.value | json }}
  </div>
</div>
