<div class="row">
  <div class="col-md-12">
    <a routerLink="create">Create</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Shekhar</td>
        <td>Bhaisipati</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Suraj</td>
        <td>Baneshwor</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ashim</td>
        <td>Khadka Bhadrakali</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
