<!--<form [formGroup]="form">-->
<!--  <div>-->
<!--    <label>Customer Name</label>-->
<!--    <input id="name" formControlName="name">-->
<!--    <i class="text-red"-->
<!--       *ngIf="name.invalid && (name.dirty || name.touched)">-->
<!--      Please fill out this field.-->
<!--    </i>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>title</label>-->
<!--    <input id="title" formControlName="title">-->
<!--    <i class="text-red"-->
<!--       *ngIf="title.invalid && (title.dirty || title.touched)">-->
<!--      Please fill out this field.-->
<!--    </i>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>Email Address</label>-->
<!--    <input id="email" formControlName="email" type="email">-->
<!--    <i class="text-red"-->
<!--       *ngIf="email.invalid && (email.dirty || email.touched)">-->
<!--      Please fill out this field.-->
<!--    </i>-->
<!--  </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <div>-->
<!--      <label>City</label>-->
<!--      <input id="city" formControlName="city">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>State</label>-->
<!--      <select id="state" formControlName="state">-->
<!--        <option value="AZ">Arizona</option>-->
<!--        <option value="CO">Colorado</option>-->
<!--        <option value="NM">New Mexico</option>-->
<!--        <option value="UT">Utah</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>Zip</label>-->
<!--      <input id="zip" formControlName="zip">-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
